  <!-- <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <div *ngIf="blog" class="card blog-card">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <img [src]="blog.imageUrl" class="img-fluid blog-image" alt="{{ blog.title }}">
          </div>
          <div class="col-md-8">
            <div class="card-header">
              <h1 class="card-title mb-0">{{ blog.title }}</h1>
              <p class="card-subtitle mb-2 text-muted" (click)="filterByAuthor(blog.author)" style="cursor: pointer;">By {{ blog.author }}</p>
              <div class="tags">
                
                <span *ngFor="let tag of blog.tags" class="btn btn-outline-dark rounded-pill m-1 tag-button" (click)="filterByTag(tag)">{{ tag }}</span>
                </div> 
            </div>
            <div class="card-body">
              <p class="card-text">{{ blog.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      
 
      
       -->

       <div class="container mt-5">
        <div class="d-flex justify-content-center">
          <div *ngIf="blog" class="card blog-card">
            <div class="row g-0">
              <div class="col-md-4 d-flex align-items-center">
                <img [src]="blog.imageUrl" class="img-fluid blog-image" alt="{{ blog.title }}">
              </div>
              <div class="col-md-8">
                <div class="card-header">
                  <!-- Apply the CSS class on hover using ngClass -->
                  <h1 class="card-title mb-0" >{{ blog.title }}</h1>
                  <p class="card-subtitle mb-2 text-muted author-name" (click)="filterByAuthor(blog.author)" style="cursor: pointer;">{{ blog.author }}</p>

                  <!-- <p class="card-subtitle mb-2 text-muted" (click)="filterByAuthor(blog.author)" style="cursor: pointer;">By {{ blog.author }}</p> -->
                  <div class="tags">
                    <span *ngFor="let tag of blog.tags" class="btn btn-outline-dark rounded-pill m-1 tag-button" (click)="filterByTag(tag)">{{ tag }}</span>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text">{{ blog.content }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      