<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <a class="navbar-brand d-flex align-items-center" href="#">
    <span class="h5 mb-0 p-2 beyond-books rounded bg-light text-dark">B</span>
    <span class="h5 mb-0 p-2 beyond-books rounded text-white">Beyond Books</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!authService.isAuthenticated() || !loggedInUser">
        <a class="nav-link text-white border-white" [attr.href]="authService.isAuthenticated() ?  '/login': '/write-blog'">
          Start Writing
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated() && loggedInUser">
        <a class="nav-link text-white border-white" href="/write-blog">Write Blog</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated() && loggedInUser">
        <a class="nav-link text-white border-white" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated() && loggedInUser">
        <a class="nav-link text-white border-white" (click)="logout()">Logout</a>
      </li>
    </ul> 
    
    <form class="form-inline my-2 my-lg-0 ml-3">
      <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search by tag" [(ngModel)]="searchTag" (keyup.enter)="searchButton.click()" (keyup.enter)="searchButton.click()" style="max-width: 200px;">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" #searchButton
        [routerLink]="['/blogs/tag', searchTag]">Search</button>
    </form>
  </div>
</nav>
