body{
    min-height: 50vh;
    display:flex;
    flex-direction:column;
}
main {
    flex-grow: 1;
    overflow-y: auto;
    padding: 12px 20px;
    position: fixed;
}
footer{ 
    margin-top: auto;
    flex-shrink: 0;
    margin-bottom :-150px;
} 