<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 ">
      <div class="card mt-5 shadow rounded-lg ">
        <div class="card-header bg-primary text-white bg-black">
          <h3 class="text-center ">{{ isSignup ? 'Join our Community' : 'Welcome Back' }}</h3>
        </div>
        <div class="card-body">
          <form *ngIf="!isSignup" [formGroup]="loginForm" (ngSubmit)="onAuthenticate()">
            <div class="mb-3">
              <label for="content" class="form-label">Username <span class="text-danger">*</span></label>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" id="username" class="form-control rounded-pill" formControlName="username">
              </div>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">password <span class="text-danger">*</span></label>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input type="password" id="password" class="form-control rounded-pill" formControlName="password">
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block rounded-pill">
              Login
            </button>
          </form>

          <form *ngIf="isSignup" [formGroup]="signupForm" (ngSubmit)="onAuthenticate()">
            <div class="mb-3">
                    <label for="content" class="form-label">Author <span class="text-danger">*</span></label>

              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" id="signupAuthorName" class="form-control rounded-pill" formControlName="author">
              </div>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Username <span class="text-danger">*</span></label>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" id="signupUsername" class="form-control rounded-pill" formControlName="username">
              </div>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">password <span class="text-danger">*</span></label>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input type="password" id="signupPassword" class="form-control rounded-pill" formControlName="password">
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block rounded-pill">
              Sign Up
            </button>
          </form>
          <button type="button" class="btn btn-link .btn-link-white border-white btn-link-white text-black"
            (click)="toggleSignup()">
            {{ isSignup ? 'Back to Login' : 'Sign up here ' }}
          </button>
          <div *ngIf="signupSuccess" class="alert alert-success mt-3">
            You are successfully registered! Please log in using your credentials.
          </div>
          <p class="text-danger mt-3">{{ errorMessage }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-flex align-items-center gradient-custom-2 rounded-lg">
      <div class="text-black px-3 py-4 p-md-5 mx-md-4">
        <h4 class="mb-4">Explore Beyond Books</h4>
        <p class="small mb-0">
          Discover a world of stories, knowledge, and imagination. Join us to share your thoughts and ideas with our
          community.
        </p>
      </div>
    </div>
  </div>
</div>
