<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-5">
        <div class="card-header bg-black text-white">
          <h2>Write Blog</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">

           
            <div class="mb-3">
              <label for="title" class="form-label">Title <span class="text-danger">*</span></label>
              <input type="text" id="title" class="form-control" formControlName="title" required>
              <div *ngIf="blogForm?.get('title')?.hasError('required')" class="text-danger">
                title is required.
              </div>
            </div>
            

            <div class="mb-3">
              <label for="author" class="form-label">Author <span class="text-danger">*</span></label>
              <input type="text" id="author" class="form-control" formControlName="author" readonly>
              <div *ngIf="blogForm?.get('author')?.hasError('required')" class="text-danger">
                author is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="tags" class="form-label">Tags (comma separated) <span class="text-danger">*</span></label>
              <input type="text" id="tags" class="form-control" formControlName="tags">
              <div *ngIf="blogForm?.get('tags')?.hasError('required')" class="text-danger">
                tags is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Content <span class="text-danger">*</span></label>
              <textarea id="content" class="form-control" formControlName="content" rows="6" required></textarea>
              <div *ngIf="blogForm?.get('content')?.hasError('required')" class="text-danger">
                Content is required.
              </div>
              <div *ngIf="blogForm?.get('content')?.hasError('minlength')" class="text-danger">
                Content must be at least 10 characters long.
              </div>
              
              
            </div>

            
            <div class="mb-3">
              <label for="imageUrl" class="form-label">Image URL <span class="text-danger">*</span></label>
              <input type="text" id="imageUrl" class="form-control" formControlName="imageUrl">
              <div *ngIf="blogForm?.get('imageUrl')?.hasError('required')" class="text-danger">
                imageUrl is required.
              </div>
              <div *ngIf="blogForm?.get('imageUrl')?.hasError('pattern')" class="text-danger">
                  please provide image in the form of url
              </div>
            </div>
            <button type="submit" class="btn btn-primary bg-black">Submit</button>
          </form>
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          
        
        </div>
      </div>
    </div>
  </div>
</div>
