body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .btn-primary.btn-block {
    width: 100%;
    border-radius: 1.5rem;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
  }
  
  .card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #000000;
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  
  .form-signup {
    border: 2px solid #000;
    padding: 20px;
  }
  
  .btn-link-black {
    background-color: #000;
    color: #fff;
    border: none;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .form-control {
    border-radius: 1.5rem;
  }
  
  .btn-primary {
    background-color: #030303;
    border-color: #cdcdcd;
    border-radius: 1.5rem;
  }
  
  .btn-link {
    color: #000000;
    text-decoration: none;
  }
  
  
  .text-white {
    color: #fff;
  }
  
  .text-black {
    color: #000;
  }
  
  .text-black h4 {
    font-size: 24px;
  }
  
  .text-black p {
    font-size: 16px;
  }
  
  @media (max-width: 767px) {
    .container {
      flex-direction: column;
    }
  
    .col-md-6,
    .col-lg-6 {
      width: 100%;
    }
    .error-message {
      color: red;
      font-size: 14px;
    }
  }
  